/EsperantoRadio/bin/
/EsperantoRadio/gen/
/EsperantoRadio/nbandroid/
/EsperantoRadio/private/
/EsperantoRadio/local.properties
/EsperantoRadio/ant.properties
x
/EsperantoRadio/.idea/
/EsperantoRadio/out/