<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="dk.nordfalk.esperanta_telefono"
      android:versionCode="9"
      android:installLocation="auto"
      android:versionName="2.0">

  <uses-permission android:name="android.permission.INTERNET"/>


    <application android:icon="@drawable/flago" android:label="@string/app_name">
         <activity android:name="dk.nordfalk.esperanta_telefono.Instrukcioj_akt" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
<!--
         <activity android:name="dk.nordfalk.esperanta_telefono.Bonvenon_akt" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


       <activity android:name="dk.nordfalk.esperanta_telefono.Instrukcioj_akt" android:label="Instrukcioj"/>
       <activity android:name="dk.nordfalk.esperanta_telefono.Filmoj_akt" android:label="Filmoj"/>
-->
    </application>
</manifest>
